.TabbedDisplay__displays {
  margin: 0 12px;
  padding: 24px 6px;
}

.TabbedDisplay__tabs {
  display: flex;
  margin: 6px 6px 0;
}

.TabbedDisplay__tab {
  width: 100%;
  margin: 0;
  border-color: var(--secondary);
  border-width: 3px;
  border-radius: 0;
}

.TabbedDisplay__tab--enabled {
  background-color: var(--background);
  color: rgba(var(--text-color--light), var(--text-emphasis--high));
  border-style: solid solid none;
}

.TabbedDisplay__tab--disabled {
  background-color: var(--primary-variant);
  color: rgba(var(--text-color--light), var(--text-emphasis--high));
  border-style: none none solid;
}
