.TabbedDisplay__displays {
  margin: 0 12px;
  padding: 24px 6px;
}

.TabbedDisplay__tabs {
  display: flex;
  margin: 6px 6px 0;
}

.TabbedDisplay__tab {
  width: 100%;
  margin: 0;
  border-color: rgb(var(--buff));
  border-width: 3px;
  border-radius: 0;
}

.TabbedDisplay__tab--enabled {
  background-color: rgb(var(--dark-jungle-green));
  color: rgba(var(--cultured), var(--text-emphasis--high));
  border-style: solid solid none;
}

.TabbedDisplay__tab--disabled {
  background-color: rgb(var(--brunswick-green));
  color: rgba(var(--cultured), var(--text-emphasis--high));
  border-style: none none solid;
}
