.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  min-width: 42px;
  font: inherit;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.button--large {
  height: 72px;
}

.button--medium {
  height: 60px;
}

.button--small {
  height: 48px;
}

.button--primary {
  background-color: var(--secondary);
}

.button--secondary {
  background: none;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.button--tertiary {
  background: none;
  color: var(--secondary);
}

.button__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.button--primary:hover .button__overlay {
  background-color: var(--dark-overlay--low-emphasis);
}

.button--primary:focus .button__overlay {
  background-color: var(--dark-overlay--medium-emphasis);
  border: 1px solid var(--light-text--high-emphasis);
}

.button--secondary:hover .button__overlay {
  background-color: var(--surface-overlay--hovered);
}

.button--secondary:focus .button__overlay {
  background-color: var(--surface-overlay--focused);
  border-radius: 4px;
}

.button--tertiary:hover .button__overlay {
  background-color: var(--surface-overlay--hovered);
}

.button--tertiary:focus .button__overlay {
  background-color: var(--surface-overlay--focused);
  border-radius: 4px;
}

.button--circular,
.button--circular .button__overlay {
  border-radius: 50%;
}

.fab {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  min-width: 72px;
  min-height: 72px;
  margin: 12px;
  box-shadow: 4px 6px 6px #121212;
  background-color: var(--secondary-variant);
  border-radius: 50%;
}

.fab:hover .button__overlay {
  background-color: var(--dark-overlay--low-emphasis);
  border-radius: 50%;
}

.fab:focus .button__overlay {
  background-color: var(--dark-overlay--medium-emphasis);
  border-radius: 50%;
  border: 1px solid var(--light-text--high-emphasis);
}

.button--image {
  line-height: 0;
}
