.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  font: inherit;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.button--large {
  height: 72px;
}

.button--large .material-icons {
  font-size: 48px;
}

.button--medium {
  height: 60px;
}

.button--medium .material-icons {
  font-size: 36px;
}

.button--small {
  height: 48px;
}

.button--small .material-icons {
  font-size: 24px;
}

.button--contained:disabled,
.button--outlined:disabled,
.button--text:disabled {
  opacity: var(--text-emphasis--disable);
}

.button--text {
  background: none;
}

.button--outlined {
  background: none;
  border-width: 2px;
  border-style: solid;
}

.button--contained.button--on-dark {
  color: rgba(var(--rich-black-fogra-39), var(--text-emphasis--high));
  background-color: rgb(var(--buff));
}

.button--contained.button--on-light {
  color: rgba(var(--cultured), var(--text-emphasis--high));
  background-color: rgb(var(--dark-jungle-green));
}

.button--on-dark {
  color: rgb(var(--buff));
  border-color: rgb(var(--buff));
}

.button--on-light {
  color: rgb(var(--dark-jungle-green));
  border-color: rgb(var(--dark-jungle-green));
}

.button__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.button--contained.button--on-dark:hover .button__overlay,
.button--contained.button--on-light:hover .button__overlay {
  background-color: rgba(var(--cultured), var(--state--hovered));
}

.button--contained.button--on-dark:focus .button__overlay,
.button--contained.button--on-light:focus .button__overlay {
  background-color: rgba(var(--cultured), var(--state--focused));
  border: 1px solid rgba(var(--cultured), var(--text-emphasis--high));
}

.button--on-dark:hover .button__overlay {
  background-color: rgba(var(--buff), var(--state--hovered));
}

.button--on-dark:focus .button__overlay {
  background-color: rgba(var(--buff), var(--state--focused));
}

.button--on-light:hover .button__overlay {
  background-color: rgba(var(--rich-black-fogra-39), var(--state--hovered));
}

.button--on-light:focus .button__overlay {
  background-color: rgba(var(--rich-black-fogra-39), var(--state--focused));
}

.button--circular,
.button--circular .button__overlay {
  border-radius: 50%;
}

.fab {
  font-size: 44px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  min-width: 72px;
  min-height: 72px;
  margin: 12px;
  box-shadow: 4px 6px 6px #121212;
  background-color: rgb(var(--jonquil));
  border-radius: 50%;
}

.fab .material-icons {
  font-size: 48px;
}

.fab:hover .button__overlay {
  background-color: rgba(var(--cultured), var(--state--hovered));
  border-radius: 50%;
}

.fab:focus .button__overlay {
  background-color: rgba(var(--cultured), var(--state--focused));
  border-radius: 50%;
  border: 1px solid rgba(var(--cultured), var(--text-emphasis--high));
}
