.GroupTable {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 1rem 96px;
}

.GroupTable__container {
  max-width: 360px;
  margin: 0 auto;
}

.GroupTable__row-container {
  display: grid;
  grid-template-columns: auto min-content;
  margin: 15px 0;
  padding: 0;
  border-radius: 4px;
  background-color: var(--component-background);
}

.GroupTable__row-control {
  height: 100%;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.GroupTable__row-control .button__overlay {
  border-radius: 0 4px 4px 0;
}
