.ParticipantTable {
  max-width: 360px;
  width: 100%;
  height: 100%;
}

.ParticipantTable__rows > p {
  margin: 12px 6px;
}

.ParticipantTable__row {
  display: grid;
  grid-template-columns: auto 32px;
  column-gap: 5px;
  margin: 15px 0;
}

.ParticipantTable__row-control {
  padding: 2px;
}
