/* TODO (Coul Greer): Try adding 'display: table' to ParticipantTable. */
.ParticipantTable {
  width: auto;
  height: 100%;
}

.ParticipantTable__row {
  padding: 0;
  position: relative;
}

.ParticipantRow {
  display: inline-block;
}

.ParticipantTable__row-control {
  float: right;
  margin: 0;
  height: 93px;
}
