.statistic-display {
  margin: 4px;
  padding: 2px;
  border: 1px solid black;
  display: inline-block;
}

label {
  color: #454777;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

input[type="number"] {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

input[type="number"].upper-limit,
input[type="number"].upper-warning {
  color: yellow;
}

input[type="number"].lower-limit,
input[type="number"].lower-warning {
  color: orange;
}
