input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.StatisticDisplay {
  display: flex;
  font-size: 18px;
}

.StatisticDisplay--upper-limit,
.StatisticDisplay--upper-warning {
  color: var(--secondary);
}

.StatisticDisplay--lower-limit,
.StatisticDisplay--lower-warning {
  color: rgba(255, 158, 68, 0.87);
}

.StatisticDisplay--horizontal {
  flex-direction: row;
  align-items: center;
}

.StatisticDisplay--vertical {
  flex-direction: column;
  align-items: center;
}

.StatisticDisplay__input,
.StatisticDisplay__label {
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}

.StatisticDisplay__label {
  font-weight: bold;
}

.StatisticDisplay__input {
  padding: 0 0.25ch;
  font-size: 1em;
  font-weight: normal;
}
