.StatisticDisplay {
  margin: 4px;
  padding: 2px;
  max-width: 155px;
  font-size: 16px;
}

.StatisticDisplay__input,
.StatisticDisplay__label {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
}

.StatisticDisplay__label {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.StatisticDisplay__input {
  font-size: 16pt;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.StatisticDisplay--upper-limit,
.StatisticDisplay--upper-warning {
  color: var(--secondary);
}

.StatisticDisplay--lower-limit,
.StatisticDisplay--lower-warning {
  color: rgba(255, 158, 68, 0.87);
}
