.StatisticDisplay {
  display: flex;
  font-size: 1em;
}

.StatisticDisplay--horizontal {
  flex-direction: row;
  align-items: center;
}

.StatisticDisplay--vertical {
  flex-direction: column;
  align-items: center;
}
