.ParticipantRow__name-label {
  display: block;
  width: 100%;
  font-size: 12px;
}

.ParticipantRow__name-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
}

.ParticipantRow__stats {
  display: flex;
  float: right;
}

.StatisticDisplay {
  max-width: 8ch;
}
