.ParticipantRow {
  margin: 3px;
}

.ParticipantRow__name-label {
  display: block;
}

.ParticipantRow__name-input {
  box-sizing: border-box;
  width: 100%;
}

.ParticipantRow__stats {
  display: flex;
  float: right;
}

.StatisticDisplay {
  max-width: 8ch;
}
